.page {
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  background: linear-gradient(29.54deg, #070B1D 24%, #061E30 117.57%);
  box-sizing: border-box;
}
