.page {
  color: #fff;
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 300;
  background: linear-gradient(29.54deg, #070B1D 24%, #061E30 117.57%);
  box-sizing: border-box;
  overflow-x: hidden;
  min-height: 100vh;
}

.header__container {
  position: relative;
  z-index: 4;
  max-width: 1166px;
  margin: 75px auto 0;
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo-link {
  text-decoration: none;
  transition: all .4s ease;
}

.header__logo-link:hover {
  opacity: .7;
}

.header__logo {
  display: block;
  width: 177px;
  height: 43px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  width: 302px;
  list-style: none;
  padding: 0;
  margin: 0 0 0 186px;
}

.header__menu-item_dropdown {
  position: relative;
}

.header__menu-item_dropdown:hover .header__dropdown {
  visibility: visible;
  opacity: 1;
}

.header__link {
  font-weight: 250;
  font-size: 20px;
  line-height: 109.5%;
  text-decoration: none;
  color: #fff;
  transition: all .4s ease;
}

.header__link:hover {
  opacity: .6;
}

.header__dropdown {
  width: 133px;
  position: absolute;
  left: 0;
  bottom: -65px;
  list-style: none;
  padding: 3px 0 3px 6px;
  border-left: 1px solid #fff;
  transition: all .4s ease;
  visibility: hidden;
  opacity: 0;
}

.header__dropdown .header__menu-item {
  margin-bottom: 5px;
}

.header__contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header__number {
  font-weight: 300;
  font-size: 20px;
  line-height: 109.5%;
  margin: 0;
}

.header__social-link {
  text-decoration: none;
  transition: all .4s ease;
}

.header__social-link:hover {
  opacity: .5;
}

.header__social-icon {
  width: 24px;
  height: 24px;
  margin-left: 22px;
}

.header {
  position: relative;
  overflow: hidden;
  background: url(./images/header__clouds_1.png) no-repeat top 157% left 60% / 2389px 1004px;
  margin-bottom: 107px;
}

.header__clouds {
  position: absolute;
  top: -232px;
  left: -612px;
  width: 2389px;
  height: 1004px;
  z-index: 1;
  background: url(./images/header__clouds_1.png) no-repeat;
}

.header__mini-cloud {
  position: absolute;
  top: 204px;
  left: -919px;
  width: 1898px;
  height: 715px;
  z-index: 2;
  background: url(./images/header__mini-cloud.png) no-repeat;
}

.header__plane {
  position: absolute;
  top: -62px;
  left: -489px;
  width: 1538px;
  height: 906px;
  z-index: 2;
}

.header__stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 1576px;
  height: 947px;
  z-index: -1;
  background: url(./images/stars.png) no-repeat;
}

.header__content {
  max-width: 1166px;
  margin: 0 auto;
}

.header__title {
  position: relative;
  z-index: 4;
  margin: 90px 0 319px;
  max-width: 687px;
  font-weight: 100;
  font-size: 128px;
  line-height: 89%;
  float: right;
  text-align: right;
}

.header__txt-block {
  position: relative;
  z-index: 3;
  width: 1095px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.header__txt {
  font-weight: 300;
  font-size: 24px;
  line-height: 89%;
  margin: 0;
}

.header__line {
  display: block;
  width: 98px;
  border-bottom: 1px solid #FFFFFF;
  margin-top: 5px;
}

.header__rent {
  width: 228px;
  height: 45px;
  margin: 0 auto;
  cursor: pointer;
  transition: all .4s ease;
  position: relative;
  z-index: 4;
}

.header__rent:hover {
  opacity: .6;
}

.button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 89%;
  color: #202020;
  background: #FFFFFF;
  border-radius: 10px;
}

.plane {
  display: flex;
  justify-content: space-between;
  max-width: 1167px;
  margin: 0 auto 50px;
  min-height: 1197px;
}

.plane__container {
  max-width: 532px;
}

.plane__title {
  padding-top: 35px;
  margin: 0 0 90px;
  font-weight: 200;
  font-size: 96px;
  line-height: 89%;
  max-width: 531px;
}

.plane__chars {
  list-style: none;
  padding: 0;
  max-width: 531px;
  margin-bottom: 107px;
}

.plane__chars-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.plane__chars-row:last-of-type {
  margin-bottom: 0;
}

.plane__chars-txt {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 89%;
}

.plane__line {
  margin-left: 19px;
  margin-right: 19px;
  display: block;
  border-bottom: 1px solid #FFFFFF;
  flex-grow: 1;
}

.plane__buttons {
  position: relative;
  margin-left: 40px;
  width: 475px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  height: 44px;
  margin-bottom: 23px;
}

.plane__button {
  display: block;
  padding: 0;
  width: 47%;
  height: 100%;
  border: none;
  color: #fff;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: all .4s ease;
}

.plane__button_active {
  color: #070E20;
}

.plane__button-focus {
  height: 110%;
  width: 48%;
  background: #FFFFFF;
  border-radius: 10px;
  display: block;
  position: absolute;
  left: 0;
  top: -5%;
  z-index: -1;
  transition: all .4s ease;
}

.plane__button-focus_active {
  transform: translateX(109%);
}

.plane__block {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 476px;
  margin-left: 40px;
  transition: all .4s ease;
}

.plane__block_active {
  visibility: visible;
  opacity: 1;
}

.plane__wrapper {
  list-style: none;
  padding: 0;
}

.plane__swiper-slide {
  width: 100%;
  height: 307px;
}

.plane__photo {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plane__swiper-button {
  top: 44%;
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  z-index: 2;
  cursor: pointer;
  transition: all .3s ease;
}

.plane__swiper-button:hover {
  opacity: .7;
}

.plane__swiper-button_next {
  right: -8%;
  background: url(./images/swiper__next.svg) no-repeat center / contain;
}

.plane__swiper-button_prev {
  left: -8%;
  background: url(./images/swiper__prev.svg) no-repeat center / contain;
}

.plane__pagination {
  margin: 16px auto 0;
  display: flex;
  max-width: 140px;
  justify-content: center;
  align-items: center;
}

.plane__pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #656565;
}

.plane__pagination .swiper-pagination-bullet-active {
  background: #FFFFFF;
  width: 11px;
  height: 11px;
}

.plane__scheme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
